.demo-video{
    background: url('@/assets/img/ellipse.png') bottom center no-repeat;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 7%;
    background-size: contain;
}
.demo-video .play-icon{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
}
.demo-video .play-icon:hover{
    opacity: 0.8;
}
.demo-video-wrap{
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    position: relative;
    max-width: 80%;
    padding-top: 40%;
    margin: 0 auto;
}
.demo-video-wrap::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.demo-video-wrap img{
    display: none;
}
@media (max-width: 500px){
    .demo-video .play-icon {
        width: 60px !important;
        height: 60px !important;
    }
}