/* .home-page {} */

.home-page .benefits-section .content {
    max-width: 634px;
    margin: 0 auto 40px;
    text-align: center;
}

.home-page .intro-section .content {
    max-width: 100%;
}

.home-page .intro-section .img {
    max-width: 100%;
}

.home-page .intro-content {
    max-width: 700px;
    margin-inline: auto;
}

@media screen and (max-width: 768px) {
    .home-page {
        overflow: hidden;
    }
}

@media screen and (max-width: 500px) {
    .home-page .intro-section .img {
        max-width: 100vw;
    }

    .img-section .img {
        margin-bottom: 40px;
    }
}