.pricing-plans-section {
    padding: 7.5rem 0;
}

.pricing-plans-section .content{
    text-align: center;
}

.pricing-plans-section .content .h2{
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.pricing-plans-section .content .p{
    margin-bottom: 3.12rem;
}


