/* DO NOT load Tailwind here */
:root {
  --gray-light: #C4C4C4;
  --gray-lighter: #C9C9C9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root { margin: 0; min-height: 100%; }
body { min-width: 320px; line-height: 1.4; overflow-x: hidden; }
a { text-decoration: none; }
#root { position: relative; }

[data-radix-popper-content-wrapper]{ transition: all 100ms ease; }
input[type="password"]::-ms-reveal { display: none; }

.text-stroke{
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #dfedfa;
}

html.scroll-locked,
body.scroll-locked,
#root.scroll-locked{
  overflow: hidden !important;
  overscroll-behavior: none;
  touch-action: none;
  height: 100%;
}
